# Android build
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/
android/gradle/
android/gradlew
android/gradlew.bat
android/app/src/main/assets/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Secrets
config.json
